name: Format and Regenerate SQL Main File
on: 
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  build-sql-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}
      - name: Trim trailing whitespace and replace Tabs
        shell: pwsh
        run: |
          $changedFiles = git --no-pager diff --name-only --relative  --diff-filter=AM "${{ github.event.before }}" "${{ github.sha }}" -- '***.sql'
          $tabSize = 4
          $changedFiles | ForEach-Object {
            $outputString = ""
            $fullPath = $_
            $Content = Get-Content $fullPath
            foreach ($Ctnt in $Content) {
              $CharArray = $Ctnt.ToCharArray()
              $lineOutput = ""
              $slidingOffset = 0
              for ($charIdx = 0; $charIdx -lt $CharArray.Length; $charIdx++) {
                  if ($CharArray[$charIdx] -eq "`t") {
                      $currentTab = $tabSize - (($charIdx + $slidingOffset) % $tabSize)
                      $slidingOffset += $currentTab - 1
                      $lineOutput += (" " * $currentTab)
                  }
                  else {
                      $lineOutput += $CharArray[$charIdx]
                  }
              }
              $outputString += $lineOutput.TrimEnd() + "`n"   # Add line output with trailing spaces removed to the output string, and add newline
            }
            Set-Content -Path $fullPath -Value ($outputString.TrimEnd())
          }
      - name: Compile SQL File
        shell: pwsh
        run: |
          cd Install-All
          ./Merge-All.ps1
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT_TOKEN }}
          commit-message: "Automation: Format and Build SQL File"
          branch: automation/format-and-build
          title: "Automation: Format and Build SQL File"
          body: "Auto-generated formatting and rebuild of Install-All/DarlingData.sql"
          delete-branch: true